<div class="padre2">
 <div>
        <h1>AÑADIR LIBRO</h1>

        <input #title placeholder="Title" class="input-field">

        <input #price type="number"  placeholder="Prices" class="input-field">
        <input #author  placeholder="Author" class="input-field">
        <input #type  placeholder="Type" class="input-field">
        <input #photo type="number" placeholder="Photo" class="input-field">
        <input #id_book type="number" placeholder="Id" class="input-field">
        <!-- <div>
          <input [src]="newBook.photo" (input)="newBook.photo = $event.target.value" placeholder="New Photo" class="input-field">

        </div> -->
        <button (click)="addBook(title.value,price.value,author.value,type.value,photo.value,id_book.value)"  class="add-button">Add Book</button>
      </div>

</div>

