<div class="padre2">
      <div class="book-card">
        <h2>Agregar Nuevo Libro</h2>
        <input id="title" [(ngModel)]="newBook.title" placeholder="Título del libro" class="input-field">
      
        <input id="type" [(ngModel)]="newBook.type" placeholder="Tipo del libro"  class="input-field">
      
        <input id="author" [(ngModel)]="newBook.author" placeholder="Autor del libro"  class="input-field">
      
        <input id="price" [(ngModel)]="newBook.price" placeholder="Precio del libro" type="number"  class="input-field">
      
        <input id="id_book" [(ngModel)]="newBook.id_book" placeholder="ID del libro" type="number"  class="input-field">
      
        <input id="photo" [(ngModel)]="newBook.photo" placeholder="Foto del libro"  class="input-field">
      
        <button (click)="addBook()" class="add-button">Agregar Libro</button>
      </div>

</div>

