.padre {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(229,168,106);
    color: white;
    font-weight: 600;
    padding-left: 30px;
    padding-right: 30px;
}
.hijo2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    
}
.hijos{
    text-decoration: none;
    color: white;
}


.hijos.active {
    font-size: 1.3em;
    border-bottom: 5px solid white;
  }

  .hijos:hover{
    border-bottom: 5px solid white;
    transition: border-bottom 300ms;
    transform: scale(1.1);
  }