<header class="padre">
    <h1 class="hijo1">MyBooks</h1>
    <div class="hijo2">
        <a routerLink="/home" class="hijos">HOME</a>
        <a routerLink="/register" class="hijos">REGISTER</a>
        <a routerLink="/profile" class="hijos">PROFILE</a>
        <a routerLink="/books" class="hijos">BOOKS</a>
        <a routerLink="/addBooks" class="hijos">ADDBOOK</a>
        <a routerLink="/updateBooks" class="hijos">UPDATEBOOKS</a>
        <a routerLink="/login" class="hijos">LOGIN</a>
    </div>

</header>