<div class="padre">
    <div class="padre2">
        <img [src]="user.photo" alt="Foto" class="foto">
        <div>{{user.name}} {{user.last_name}}</div>
        <div>Nombre: {{user.name}}</div>
        <div>Apellidos: {{user.last_name}}</div>
        <div>Email: {{user.email}}</div>
        
        
    </div>
    <div class="padre3">
        <div class="padre2">
            <div>EDITAR</div>
            <input type="text" placeholder="Nombre" #input1>
            <input type="text" placeholder="Apellidos" #input2>
            <input type="text" placeholder="Correo" #input3>
            <input type="text" placeholder="Url" #input4>
            <button (click)=enviar1(input1) (click)=enviar2(input2) (click)=enviar3(input3) (click)=enviar4(input4)>Modificar</button>  
        </div>
    </div>
</div>