
<div>
  <button (click)="mostrarLibros()" class="show-button">Mostrar Libros</button>
  <div class="padrastro">
    <h2>Buscar Libro por ID</h2>
    <input type="number" [(ngModel)]="bookId" placeholder="ID del Libro">
    <button (click)="buscarLibro()">Buscar</button>
    <div *ngIf="selectedBook">
      <h2>Detalles del Libro:</h2>
      <p>Título: {{ selectedBook.title }}</p>
      <p>Precio: {{ selectedBook.price }}</p>
      <p>Autor: {{ selectedBook.author }}</p>
      <p>Type: {{ selectedBook.price }}</p>
      <p>Photo: {{ selectedBook.photo }}</p>
      <p>ID: {{ selectedBook.id_book }}</p>
    </div>
</div>

<div *ngIf="mostrandoLibros">
  <h2>Libros Agregados:</h2>
  <ul>
    <li *ngFor="let book of apiService.books" class="cartas">
      {{ book.title }} - {{ book.price }} - {{ book.author }} - {{ book.type }} - {{ book.photo }} - {{ book.id_book }}
    </li>
  </ul>
</div>
























</div>