<div class="padre2">
    <div class="book-list" *ngIf="books.length > 0; else noBooks">
      <app-card *ngFor="let book of books; let i = index; let even = even"
          [book]="book" [even]="even" (removeCard)="removeBook(i)"></app-card>
              
      </div>

      <ng-template #noBooks>
        <div class="book-list">
          <div class="no-books-message">
            No hay libros disponibles.
          </div>
        </div>
      </ng-template>
      <div class="book-card">

        <h1>AÑADIR LIBRO</h1>

        <input [(ngModel)]="newBook.title" (input)="newBook.title = $event.target.value" placeholder="New Title" class="input-field">

        <input [(ngModel)]="newBook.type"  placeholder="New Type" class="input-field">
        <input [(ngModel)]="newBook.author"  placeholder="New Author" class="input-field">
        <input [(ngModel)]="newBook.price" type="number"  placeholder="New Price" class="input-field">
        <input [(ngModel)]="newBook.id_book" type="number" placeholder="New Id" class="input-field">
        <div>
          <input [src]="newBook.photo" (input)="newBook.photo = $event.target.value" placeholder="New Photo" class="input-field">

        </div>
        <button (click)="addBook()" class="add-button">Add Book</button>
      </div>

</div>








    
    
    
    
    
    
    
    

    