<div class="padre5">
    <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)" class="formulario">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" class="form-control" [(ngModel)]="user.email" #emailId="ngModel" [ngClass]="{ 'is-invalid': (emailId.dirty || emailId.touched) && emailId.invalid}" email required>
            <div *ngIf="userForm.controls.email?.invalid && (userForm.controls.email?.dirty || userForm.controls.email?.touched)"
                class="invalid-feedback">
                <div *ngIf="userForm.controls.email?.errors?.required">El email es obligatorio</div>
                <div *ngIf="userForm.controls.email?.errors?.email">El email es incorrecto</div>
            </div>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" class="form-control" [(ngModel)]="user.password"
                #passwordId="ngModel"
                [ngClass]="{ 'is-invalid': userForm.controls.password?.invalid && (userForm.controls.password?.dirty || userForm.controls.password?.touched) }"
                minlength="8" required>
            <div *ngIf="userForm.controls.password?.invalid && (userForm.controls.password?.dirty || userForm.controls.password?.touched)"
                class="invalid-feedback">
                <div *ngIf="userForm.controls.password?.errors?.required">La contraseña es obligatoria</div>
                <div *ngIf="userForm.controls.password?.errors?.minlength">La clave tiene que tener al menos 8 caracteres</div>
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-danger btn-block" [disabled]="userForm.invalid">Submit</button>
        </div>
    </form>
</div>