<div class="padre">
    <section class="padre2">
        <div class="hijo">REGISTRATE
            
        </div>
        <div class="padre3"> 
        <input type="text" class="hijos" placeholder="nombre">
        <input type="text" class="hijos" placeholder="apellido">
        <input type="text" class="hijos" placeholder="email">
        <input type="text" class="hijos" placeholder="url">
        <input type="text" class="hijos" placeholder="contraseña">
        <input type="text" class="hijos" placeholder="repetir contraseña">
        </div>
    <div class="padre4">
        <button class="hijo3">REGISTRARSE</button>
    </div>
    </section>
    
    

        
</div>
