<div class="book-card">
  <div class="add-book-form">
    <h1>EDITAR LIBRO</h1>
    <input [(ngModel)]="book.title" placeholder="Title" class="input-field">
    <input [(ngModel)]="book.type" placeholder="Type" class="input-field">
    <input [(ngModel)]="book.author" placeholder="Author" class="input-field">
    <input [(ngModel)]="book.photo" placeholder="Photo" class="input-field">
    <input [(ngModel)]="book.price" type="number" placeholder="Price" class="input-field">
    <input [(ngModel)]="bookId" type="number" placeholder="ID del libro a editar" class="input-field">
    <button (click)="editarLibro()" class="add-button">Update Book</button>
  </div>
</div>

